include ../titles/title.pug
-
  var testiData = [
    {
      text: 'To me it\'s a best app, nothing to complain. You just need to understand the app, its features and know what you want there.',
      avatar: imgAPI.avatar[10],
      name: 'John Doe',
      title: 'Chief Digital Officer'
    },
    {
      text: 'Easy way to control your campaigns on the go! Definitely a must have app for those running ads',
      avatar: imgAPI.avatar[1],
      name: 'Jean Doe',
      title: 'Chief Digital Officer'
    },
    {
      text: 'I really love this app and really appreciate and love the people behind the development of this app, I Salute you guys.',
      avatar: imgAPI.avatar[2],
      name: 'Jena Doe',
      title: 'Graphic Designer'
    },
    {
      text: 'It is very simple, economical and very useful app.',
      avatar: imgAPI.avatar[3],
      name: 'Jovelin Doe',
      title: 'Senior Graphic Designer'
    },
    {
      text: 'You own a business and you are not using ads, you\'re on a long thing, best app every business owner should use!!!!',
      avatar: imgAPI.avatar[4],
      name: 'Jihan Doe'
    },
    {
      text: 'The ap is very convenient in managing all the ad account activities in just one place and gives the latest and most accurate data one may want to find pertaining a particular advert.',
      avatar: imgAPI.avatar[6],
      name: 'Joana Doe',
      title: 'Senior Graphic Designer'
    },
    {
      text: 'Excellent App, user friendly and shows analysis in easy and summarized form.',
      avatar: imgAPI.avatar[7],
      name: 'James Doe',
      title: 'Senior Graphic Designer'
    },
    {
      text: 'Amazing new updates. It has every metric you need, customizable analytics to clear the chatter. Very easy to use. love it.',
      avatar: imgAPI.avatar[9],
      name: 'Jack Doe',
      title: 'Chief Digital Officer'
    },
    {
      text: 'Ads always help the process along. Makes things so much easier. New to it but am going back in to learn more.',
      avatar: imgAPI.avatar[8],
      name: 'Jenny Doe',
      title: 'Chief Digital Officer'
    }
  ]

.root
  .wow.fadeInUpShort(data-wow-offset="-50" data-wow-delay="0.3s" data-wow-duration="0.5s")
    div
      +title-main("center")
        | #{$t.retail_landing.testimonials_title}
  .carousel-wrap
    .wow.fadeInUpShort(data-wow-offset="-150" data-wow-delay="0.4s" data-wow-duration="0.5s")
      div
        .container.max-sm
          .carousel-text
            .slick-carousel.slider-text#slider_text
              each item in testiData
                .item
                  p.content #{item.text}
                  p.name
                    strong #{item.name}
                    | &nbsp; - #{item.title}
        .carousel-avatar
          .slick-carousel.slider-avatar#slider_avatar
            each item in testiData
              .item
                .avatar-img.avatar
                  |
                  |
                  span
                    img(alt=item.name src=item.avatar)/
                  |
                  |
